
body#bg, body#bg-neutral {
    font-family: Arial, sans-serif;
    color: black;
}

body#bg {
    background: url('/static/images/slika1.jpg') 
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.form-style {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-style button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: black;
    transition: 0.3s;
}

.form-style button:hover {
    background-color: #2980b9;
}

.form-style input, .form-style select {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    transition: 0.3s;
}

.form-style input:focus, .form-style select:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
}

body#bg-neutral {
    background: #c9c9c9;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

nav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3498db;
    padding: 15px 0;
    z-index: 10;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #2980b9;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #3498db;
}

#main {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Predmeti, #Studenti, #Profesori, #UpisaniPredmeti {
    width: 100%;
    margin: 20px 0;
}

#Predmeti ul, #Studenti ul, #Profesori ul, #UpisaniPredmeti ul {
    list-style: none;
    padding: 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#Predmeti li, #Studenti li, #Profesori li, #UpisaniPredmeti li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#Predmeti li a, #Studenti li a, #Profesori li a , #UpisaniPredmeti li a{
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

#Predmeti li a:hover, #Studenti li a:hover, #Profesori li a:hover, #UpisaniPredmeti li a:hover{
    background-color: #2980b9;
}

#Predmeti li span, #Studenti li span, #Profesori li span, #UpisaniPredmeti li span {
    display: flex;
    gap: 10px;
}


.list-item{
    width: 40%;
}