<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>addpred</title>
</head>
<body id="bg-neutral">
    <div class="form-container">
        <h2>Add Predmet</h2>
        <form method="POST" class="form-style">

            {% csrf_token %}
            {{ form }}
            <button type="submit" >Add Predmet</button>
        </form>
    </div>
</body>
</html>