<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Admin</title>
</head>
<body>
    <nav>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'addpred' %}">Dodaj Predmet</a>
        <a href="{% url 'addKorsinika' %}">Dodaj Korisnika</a>
    </nav>
    

    <div id="main">
        <h1>Pozdrav Admine</h1>

        <div id="Predmeti">
            <h2>Predmeti</h2>
            
            <ul>
                {% for predmet in predmeti %}
                <li>
                    <span class="list-item">{{ predmet.name }}</span> 
                    <span class="list-item"><a href="{% url 'pregledPredmeta' predmet.id %}">{{ predmet.kod }}</a></span>
                    <span class="list-item">{{ predmet.ects }}</span>
                    <span class="list-item">
                        <a href="{% url 'updatePredmet' predmet.id %}">Uredi</a>
                        <a href="{% url 'deletePredmet' predmet.id %}">Izbriši</a>
                    </span >
                </li>
        
                {% endfor %}
        
            </ul>
        </div>
        
        
        
        <div id="Studenti">
            <h2>Studenti</h2>
            
            <ul>
                {% for student in studenti %}
                <li>
                    <span class="list-item"><a href="{% url 'podaciStudent' student.id %}">{{ student.username }}</a></span>
                    <span class="list-item">{{ student.fullname }}</span>
                    <span class="list-item">{{ student.email }}</span>
                    <span class="list-item">
                        <a href="{% url 'updateKorsnika' student.id %}">Uredi</a>
                        <a href="{% url 'deleteKorisnika' student.id %}">Izbriši</a>
                    </span>
                </li>
        
                {% endfor %}
        
            </ul>
        </div>
        
        
        <div id="Profesori">
            <h2>Profesori</h2>
            
            <ul>
                {% for profesor in profesori %}
                <li>
                    <span class="list-item"><a href="{% url 'podaciProfesora' profesor.id %}">{{ profesor.username }}</a></span>
                    <span class="list-item">{{ profesor.fullname }}</span>
                    <span class="list-item">{{ profesor.email }}</span>
                    <span class="list-item">
                        <a href="{% url 'updateKorsnika' profesor.id %}">Uredi</a>
                        <a href="{% url 'deleteKorisnika' profesor.id %}">Izbriši</a>
                    </span>
                </li>
        
                {% endfor %}
        
            </ul>
        </div>

    </div>
   

</body>
</html>