<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Podaci o studentu</title>
</head>
<body>
    <nav>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'admin1' %}">Home</a>
        
    </nav>
    <div id="main">
        <div id="UpisaniPredmeti">
            <h2>Upisani Predmeti</h2>
            
            <ul>
                {% for predmet in upisani_predmeti %}
                <li>
                    <span class="list-item">{{ predmet.name }}</span>
                    <span class="list-item">{{ predmet.kod }}</span>
                    <span class="list-item">{{ predmet.ects }}</span>
                    <span class="list-item">
                        <a href="{% url 'IspisiStudenta' predmet.id student.id %}">Ispiši</a>
                    </span>
                </li>
        
                {% endfor %}
        
            </ul>
        </div>

        
        <div id="Predmeti">
            <h2>Predmeti</h2>
            
            <ul>
                {% for predmet in predmeti %}
                <li>
                    <span class="list-item">{{ predmet.name }}</span>
                    <span class="list-item">{{ predmet.kod }}</span>
                    <span class="list-item">{{ predmet.ects }}</span>
                    <span class="list-item">
                        <a href="{% url 'upisiStudenta' predmet.id student.id %}">Upiši</a>
                    </span >
                </li>
        
                {% endfor %}
        
            </ul>
        </div>
    
    
        
    </div>
    
</body>
</html>