<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Pregled Predmeta</title>
</head>
<body>
    <nav>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'admin1' %}">Home</a>
    </nav>
 
    <div id="main">
        <div id="Studenti">
            <h2>Studenti</h2>
            
            <ul>
                {% for student in studenti %}
                <li>
                    <span class="list-item">{{ student.username }}</span>
                    <span class="list-item">{{ student.fullname }}</span>
                    <span class="list-item">{{ student.email }}</span>
                </li>
                {% endfor %}
            </ul>
            
        </div>
    </div>
    
</body>
</html>